.venv/
openvino_notebooks/
/*.mp4
!test.mp4
/*.flv
/*.log
/*.json
!result.json
!liveShopping.json
!ProductChange.json
!LikeMessage.json
!MemberMessage.json
!ChatMessage.json
/*.wav
!test.wav
!test_format.wav
/*.txt
!test_format.txt
!ocr_result.txt
live_download_cache/*
sensitive_video_part/*
integrated_video/*
test.py