.venv/
openvino_notebooks/
/*.mp4
/*.flv
/*.log
/*.json
/*.wav
/*.txt
!/requirements.txt
static/video/live_download_cache/*
!static/video/live_download_cache/readme.txt
static/video/sensitive_video_part/*
!static/video/sensitive_video_part/readme.txt
static/video/integrated_video/*
!static/video/integrated_video/readme.txt
/test.py