.venv/
openvino_notebooks/
/*.mp4
/*.flv
/*.log
/*.json
/*.wav
/*.txt
!/requirements.txt
live_download_cache/*
!live_download_cache/readme.txt
sensitive_video_part/*
!sensitive_video_part/readme.txt
integrated_video/*
!integrated_video/readme.txt
/test.py